.idea
Output
log
*.log
*.tmp
node_modules
dist
.env
.vscode
.DS_Store
coverage
*.bak
*.swp
thumbs.db
*.class
*.jar
*.war
*.iml
*.exe
*.dll
*.pdb
*.so
*.dylib
*.obj
*.out
*.lib
*.ilk
*.ncb
*.suo
*.user
*.aps
*.pch
*.idb
*.ipch
*.tlog
*.lastbuildstate
*.sbr
*.tlb
*.rpt
*.exp
*.lib